/**
* File: _blog.scss
* This should contain overrides for the news/blog section
*/
#ep-body {
    .ep-blog {
        article {
            background-color: transparent;
            border: none;
        }

        .et_pb_image_container {
            margin: 0;
        }

        // Note we can't extend embedded selectors
        .ep-blog-content__wrapper {
            background-color: $color-ui-1;
            box-shadow: 0px 1px 4px $color-ui-4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16% 8%;
            position: relative;
            width: 100%;
            z-index: 2;
            margin-top: -2.0rem;

            h2.entry-title {
                font-size: unset !important;
                line-height: normal;

                &::after {
                    display: none !important;
                }
            }

            .entry-title a {
                font-size: 2rem;
                line-height: normal;
            }

            .post-content .post-content-inner {
                display: none;
            }

            .post-content .more-link {
                text-transform: capitalize;
            }
        }
    }
}