/**
* File: _home.scss
* This should contain overrides for home page
*/

$hero-height__desktop: 48rem;
$overlap-blocks-section__desktop: 42.5rem;

#ep-body {
    .ep-hero-section {
        height: $hero-height__desktop;

        .ep-hero-header {
            @extend .ep-main-hover-begin;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition-duration: 1s;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .h1,
            .h2,
            .h3,
            .h4,
            .h5,
            .h6 {
                &::after {
                    display: none !important;
                }
            }

            &::before,
            &::after {
                @include ep-title-horizontal-line(5.063rem, $color-ui-1);
                @extend .ep-main-hover-end;
                position: relative;
                transition-duration: 1s;

                @media(max-width: $breakpoint-tablet) {
                    margin: 0.5rem auto;
                }
            }

            &::before {
                right: 27.5%;
            }

            &::after {
                left: 27.5%;
            }

            &:hover {
                &::before {
                    right: 0%;
                }

                &::after {
                    left: 0%;
                }
            }
        }
    }

    .ep-overlap-blocks-section {
        height: $overlap-blocks-section__desktop;

        @media(max-width: $breakpoint-laptop) and (min-width: $breakpoint-tablet) {
            height: $hero-height__desktop;
        }

        @media(max-width: $breakpoint-tablet) {
            height: 130rem;
        }

        @media(max-width: $breakpoint-tablet) and (min-width: $breakpoint-smartphone-portrait) {
            height: 130rem;
        }

        @media(max-width: $breakpoint-smartphone-portrait) {
            height: 136rem;
        }

        .ep-overlap-blocks-row {
            bottom: 12.5rem;
            width: 100%;
            max-width: 100%;

            @media(max-width: $breakpoint-tablet) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .et_pb_column {
                margin-right: 0;
            }

            .et_pb_column {
                width: 25%;
                position: relative;
                transition-duration: 1s;

                @media(max-width: $breakpoint-tablet) {
                    width: 100%;
                    margin-bottom: 0;
                }

                .et_pb_text_inner {
                    padding: 16% 8%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30rem;
                    max-height: 30rem;
                    box-shadow: 0px 7px 7px $color-ui-4;
                    overflow: hidden;

                    @media(max-width: $breakpoint-laptop) {
                        padding: 16%;
                        box-shadow: unset;
                    }
                }
            }

            .et_pb_column:nth-child(odd) {
                z-index: 999999999;

                .et_pb_text_inner {
                    background-color: $color-ui-1;
                }
            }

            .et_pb_column:nth-child(even) {
                .et_pb_text_inner {
                    background-color: $color-1;

                    h2,
                    p {
                        color: $color-font-inverse !important;
                    }

                    h2::after {
                        background-color: $color-font-inverse !important;
                    }
                }
            }
        }

        .ep-about-row {
            @extend .ep-row-40-pct;
            bottom: 12.5rem;

            @media(max-width: $breakpoint-tablet) {
                width: 80%;
            }
        }
    }
}