/**
* File: _interior.scss
* This should contain overrides for interior pages
*/

#ep-body {

    .et_pb_module_header::after,
    .ep-error-title h1::after {
        display: none !important;
    }

    .ep-header-client-tags {
        list-style-type: none;
        padding: 0;
        line-height: $line-height;
        display: inline-flex;
        width: 100%;
        justify-content: center;

        li {
            color: $color-font-inverse;
            padding: 1%;
            border-radius: 7%;

            &:not(:last-child) {
                margin-right: 5%;
            }
        }
    }

    .ep-client-icon-blurb__row {
        .et_pb_column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 5.063rem;
            margin-bottom: $size-medium;
            color: $color-1;
        }

        .percent-value {
            font-family: $font-title;
        }

        .title {
            color: $color-1 !important;

            &::after {
                display: none !important;
            }
        }

        p,
        .et_pb_text_inner {
            text-align: center;
        }
    }

    .ep-interior-client-bg {
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            margin-top: -2.82%;
            background-color: rgba($color-1, 0.8);
            background-blend-mode: overlay;
        }

        img {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            height: 200px;
            width: auto;
        }
    }
}