/**
* File: _base.scss
* This should contain site-wide styles that don't belong anywhere else
*/

/**
* @mixin transition
* *         Used to override the parent theme's fast transition
* @param    $type The type of transition defined in _variables.scss
* @param    or elsewhere in child theme
*/
@mixin transition($type: "standard") {
    @if $type=="standard" {
        transition: all 0.25s ease;
    }
}

.ep-mint-green,
.ep-main-hover {
    color: $color-1;
}

.ep-main-hover-begin,
.ep-main-hover-end {
    transition: $transition-standard;
    -webkit-transition: $transition-standard;
    -moz-transition: $transition-standard;
}