/**
* File: _buttons.scss
* This should contain overrides for buttons
*/

$button-color: $color-font-inverse;
$button-background-color: $color-1;
$button-hover-background-color: $color-2;
$button-border: 0.15rem solid transparent;

/**
* * INDIVIDUAL BUTTON STYLES
*/
#ep-body {

    /** 
    * BASIC BUTTON
    * * Reset all the weird before and after fluff
    */
    .et_pb_button::before,
    .et_pb_button::after {
        font-size: unset;
        line-height: unset;
        content: none;
        opacity: unset;
        position: unset;
        margin-left: unset;
        transition: unset;
        text-transform: unset;
        font-feature-settings: unset;
        font-variant: unset;
        font-style: unset;
        font-weight: unset;
        text-shadow: unset;
    }

    // Primary color
    .et_pb_button,
    // Divi button
    .gform_button,
    // Gravity Forms button
    input[type='submit'] 
    // Anything with "submit" type

        {
        // Button Structure
        display: inline-block;
        line-height: $line-height !important;
        padding: $size-small $size-medium !important;
        border: none;
        border-radius: 0;
        z-index: 1;
        // Button Coloring
        color: $button-color;
        background-color: $button-background-color;
        // Button Typography
        text-transform: uppercase;
        // Misc Overrides
        text-shadow: none; // override Divi default
        cursor: pointer; // ensure it feels like a button
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            background: $color-2;
            position: absolute;
            z-index: -1;
            display: block;
            @include ep-slanted-hover-start(0,
                110%,
                0,
                -120%,
                100%,
                100%,
                $transition-standard);
        }

        // Hover Overrides
        &:hover {
            &::before {
                @include ep-slanted-hover-end(0,
                    0,
                    0,
                    -20%,
                    140%,
                    100%,
                    $color-2,
                    $transition-standard);
            }
        }
    }

    /** 
    * SECONDARY BUTTON 
    * * Outline ghost style button
    */
    .ep-button-secondary {
        background-color: transparent;
        border-color: $button-background-color;
        color: $button-background-color;
    }

    /** 
    * SECONDARY BUTTON 
    * * Outline ghost style button with white
    */
    .ep-button-secondary-alt-white {
        background-color: transparent;
        border-color: $color-ui-1;
        color: $color-font-inverse;
    }
}

/**
* MULTI-BUTTON LAYOUTS
* * Ensure adequet spacing between two buttons next to each other
*/
#ep-body {
    .et_pb_button+.et_pb_button {
        margin-left: $size-medium;
    }
}