/**
* File: _card.scss
* This should contain styles for card elements from design
*/
.ep-past-work-card__row {
    .et_pb_column {
        margin-right: 2%;
        width: 32%;

        @media(max-width: $breakpoint-tablet) {
            margin-right: auto;
            width: 100%;
        }
    }
}

.ep-past-work-card__wrapper {
    .ep-past-work-card__thumbnail {
        @extend .ep-main-hover-begin;
        display: flex;
        width: 100%;
        height: auto;
        position: relative;

        .ep-past-work-card__logo-wrapper {
            @extend .ep-main-hover-begin;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                @extend .ep-main-hover-begin;
                opacity: 0;
            }

            &:hover {
                background-color: rgba($color-1, 0.8);
                background-blend-mode: overlay;

                img {
                    @extend .ep-main-hover-end;
                    opacity: 1;
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                }
            }

            .ep-past-work-card__logo {
                flex: 1 1 0;
                position: absolute;
                max-height: 50%;
                max-width: 75%;

                @media(max-width: $breakpoint-tablet) {
                    max-height: 37.5%;
                }
            }

            @media(max-width: $breakpoint-tablet) {
                background-color: rgba($color-1, 0.8);
                background-blend-mode: overlay;

                img {
                    opacity: 1;
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                }
            }
        }

        .ep-past-work-card__image {
            flex: 1 1 0;
            width: 100%;

            @media(max-width: $breakpoint-tablet) {
                max-height: 225px;
                flex: none;
            }
        }
    }

    .ep-past-work-card__content {
        background-color: $color-ui-1;
        box-shadow: 0px 1px 4px $color-ui-4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16% 8%;
        position: relative;
        width: 100%;
        z-index: 2;

        h3 {
            @extend .ep-main-hover-begin;

            &:hover {
                @extend .ep-main-hover-end;
                color: $color-1 !important;
            }
        }

        a {
            @extend .ep-main-hover-begin;
            width: 100%;
            height: 100%;
            text-align: center;

            &:hover {
                @extend .ep-main-hover-end;
                color: $color-2;
            }
        }

        .ep-past-work-card__list {
            width: 100%;

            .ep-past-work-card__items {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                line-height: $line-height;

                li {
                    width: 100%;
                    text-align: center;
                    color: $color-font-1;
                    padding: 3% 5%;

                    &:nth-child(odd) {
                        background-color: $color-ui-2;
                    }

                    &:nth-child(even) {
                        background-color: $color-ui-3;
                    }

                    &:last-child {
                        margin-bottom: $size-medium;
                    }
                }
            }
        }
    }
}