/**
* File: _footer.scss
* This should contain overrides for the footer
*/

/**
* FOOTER CTAs
* * Ensure the CTAs all have the slanted hover effect look
*/
$footer-cta-transition: all 0.5s ease;

#ep-body {
    .ep-footer-cta {
        background-color: $color-1 !important;
        overflow: hidden;

        &::before {
            @include ep-slanted-hover-start(0,
                0,
                0,
                -106%,
                112%,
                100%,
                $footer-cta-transition);
        }

        i {
            @extend .h3;
            @extend .ep-main-hover-begin;
            font-family: "Font Awesome 5 Free" !important;
            position: absolute;
            left: -50%;
            right: 0;
            top: 0;
            bottom: 0;

            &::after {
                display: none !important;
            }

            @media(max-width: $breakpoint-tablet) {
                left: 0;
            }
        }

        &::before,
        .et_pb_text_inner,
        i {
            @extend .ep-main-hover-begin;
        }

        &:hover .et_pb_text_inner *,
        &:hover i {
            @extend .ep-main-hover-end;
            color: $color-font-inverse !important;
        }

        &:hover i {
            left: 100%;
            right: 100%;
        }

        &:hover .ep-button-secondary-alt-black {
            @extend .ep-button-secondary-alt-white;
        }

        &:hover::before {
            @include ep-slanted-hover-end(0,
                0,
                0,
                -10%,
                130%,
                100%,
                $color-2,
                $footer-cta-transition);

            @media(max-width: $breakpoint-laptop) and (min-width: $breakpoint-tablet) {
                @include ep-slanted-hover-end(0,
                    0,
                    0,
                    -12%,
                    134%,
                    100%,
                    $color-2,
                    $footer-cta-transition);
            }

            @media(max-width: $breakpoint-tablet) {
                display: none;
            }
        }

        .et_pb_text_inner * {
            text-align: left !important;

            &::after {
                display: none !important;
            }

            @media(max-width: $breakpoint-tablet) {
                text-align: center !important;
            }
        }
    }

    /*
    MAIN FOOTER AREA
    */
    #main-footer {

        a,
        li a,
        li {
            @extend .ep-main-hover-begin;
        }

        a:hover,
        li a:hover li:hover {
            @extend .ep-main-hover-end;
            color: $color-1;
        }

        // --- FOOTER WIDGETS ---
        .footer-widget {
            .title {
                color: $color-font-inverse;

                &::after {
                    background-color: $color-font-inverse !important;
                }
            }

            img {
                -webkit-filter: invert(1);
                filter: invert(1);
                width: 50%;
                height: auto;
            }

            .et_pb_widget {
                width: 100%; // Override to make all widgets fill their width
            }

            li {
                padding-left: 0;

                &::before {
                    display: none; // Remove bullets
                }
            }

            .ep-footer-links,
            .ep-footer-connect {
                ul {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;

                    li {
                        text-transform: uppercase;
                    }
                }
            }

            .ep-footer-connect {
                i {
                    @extend .ep-main-hover-begin;
                    font-size: $size-medium;
                }
            }

            @media(max-width: $breakpoint-tablet) {
                text-align: center;
            }
        }
    }

    /*
    BOTTOM BAR
    */
    #footer-bottom {
        padding: 0;

        .container {
            max-width: none;
            width: auto;
            margin: 0 (2 * $line-height);
        }
    }

    #footer-keywords a {
        font-size: 0.75rem;
        font-weight: normal;
        color: $color-font-1;
    }

    #footer-info {
        float: none;
        padding: 0;
        text-align: center;
        line-height: 2 * $line-height;
    }
}