/**
* File: _forms.scss
* This should contain overrides for forms
*/

/**
* GENERAL FORM OVERRIDES
* * Give the gravity form a sleek branded look
*/
#ep-body {
    .gform_body {
        label {
            display: none;
        }

        .gf_list_inline label {
            display: inline-block;
        }

        input.text,
        input.title,
        input[type="email"],
        input[type="password"],
        input[type="tel"],
        input[type="text"],
        select,
        textarea {
            border: none;
            border-bottom: 2px solid $color-ui-7;
            background-color: transparent;

            &:focus {
                border-bottom-color: $color-1;
            }
        }

        input[placeholder],
        textarea[placeholder] {
            color: $color-font-1;

            &:focus {
                color: $color-1;
            }
        }
    }
}