/**
* File: _header.scss
* This should contain overrides for the main header
*/

#ep-body {

    /**
    * MAIN HEADER + MAIN MENU
    * * Covers the logo, header and menu stylings
    */
    #main-header {
        #logo {
            -webkit-filter: invert(1);
            filter: invert(1);
        }

        // -- MAIN NAVIGATION -- 
        #top-menu li.current-menu-item>a,
        #top-menu li.current-menu-ancestor>a,
        .nav li ul .current-menu-item a,
        #top-menu li:last-child.current-menu-item a {
            &::after {
                @include ep-title-horizontal-line(1rem, $color-ui-1);
                height: 0.3rem;
                margin: 0.3rem auto;
                position: absolute;
                left: 0;
                right: 0;
            }
        }

        #top-menu li:last-child a {
            @extend .ep-button-secondary;
            padding: 0.5rem 1rem;
            border: 0.15rem solid $color-1;

            &::after {
                display: none;
            }
        }

        #top-menu li:last-child.current-menu-item a {
            padding: initial;
            border: none;
            color: $color-font-inverse;
        }

        // -- DROPDOWN MENUS --
        #top-menu li ul {
            width: auto;
        }

        #top-menu li li a {
            width: auto;
            white-space: nowrap;
        }

        @media (max-width: $breakpoint-tablet) {
            background-color: transparent;

            .et_mobile_menu {
                background-color: $color-ui-7;
                border: 3px solid $color-1;

                li a {
                    color: $color-1;
                    text-transform: uppercase;
                }

                li:not(:last-child) a {
                    border-bottom: 3px solid $color-1;
                }
            }

            // Remove the search icon and "Select Page" prompt
            #et_search_icon,
            .select_page {
                display: none;
            }

            // Color and size the mobile menu icon
            .mobile_menu_bar::before {
                color: $color-ui-1;
                font-size: 3rem;
            }

            // Set the mobile menu icon to an X when the menu is open
            .mobile_nav.opened .mobile_menu_bar::before {
                content: "\4d";
            }
        }
    }
}