/**
* File: _horizontal-line.scss
* This contains thes styling for the horizontal lines under heading tags
*/

/**
* mixin ep-title-horizontal-line
* * Provideds a slanted underline to titles, varied by font size
* @param $font-size The font size of that specific title
* @param $line-color By default is the standard green color
*/
@mixin ep-title-horizontal-line($font-size, $line-color: $color-1) {
    content: '';
    display: flex;
    background-color: $line-color;
    height: 1rem;
    width: $font-size / 1.01;
    justify-content: center;
    margin: 1rem auto;
    transform: skewX(-45deg);
}