/**
* File: _layout.scss
* This should only contain layout stylings
*/

section.et_pb_module,
.et_pb_section {
    background-color: transparent;
}

.ep-row-40-pct {
    width: 40%;

    /** 
    * TODO: Refactor so that 40-pct =/= 80 percent
    */
    @media(max-width: $breakpoint-tablet) {
        width: 80%;
    }
}

.et_pb_row:not(:last-child) {
    @media(max-width: $breakpoint-tablet) {
        padding-bottom: 0;
    }
}