/**
* File: _slanted-hover.scss
* This contains thes styling for the horizontal lines under heading tags
*/

/**
* mixin ep-slanted-hover-start
* * Handle the starting and ending of the slanted hover effect
* @param $top                   The top offset of the absolute positioned background
* @param $right                 The right offset of the absolute positioned background
* @param $bottom                The bottom offset of the absolute positioned background
* @param $left                  The left offset of the absolute positioned background
* @param $object-width          The width of the element using the hover effect
* @param $object-height         The height of the element using the hover effect
* @param $transition-setting    The transition for that element
*/
@mixin ep-slanted-hover-start($top,
    $right,
    $bottom,
    $left,
    $object-width,
    $object-height,
    $transition-setting) {
    content: '';
    position: absolute;
    width: $object-width;
    height: $object-height;
    left: $left;
    top: $top;
    transform: skewX(-45deg);
    transition: $transition-setting;
}

@mixin ep-slanted-hover-end($top,
    $right,
    $bottom,
    $left,
    $object-width,
    $object-height,
    $background-color,
    $transition-setting) {
    cursor: pointer;
    left: $left;
    top: $top;
    width: $object-width;
    height: $object-height;
    background-color: $background-color !important;
    transition: $transition-setting;
}