/**
* File: _social-icons.scss
* This file is just for the inline social icon styles from the [rf_social_media] shortcode
*/

/**
* SOCIAL MEDIA ICONS
*/
$icon-size: $size-medium;

.ep-footer-connect {
    display: flex;
    width: 100%;

    .ep-social-icons-inline {
        display: inline-block;

        .ul-social-et {
            display: flex;
            list-style-type: none;
            padding: 0;

            .et-social-icon {
                margin: 0 1em 0 0;

                &:last-child {
                    margin: 0;
                }

                i {
                    color: $color-font-inverse;
                }

                a {
                    font-size: $icon-size;
                }
            }
        }
    }
}