/**
* File: _typography.scss
* This should contain sizing and font choices for typography
*/

#ep-body {
    #page-container {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            color: $color-font-1;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            text-transform: uppercase;
            text-align: center;
            font-family: $font-title;
        }

        h1,
        .h1 {
            font-size: 7.594rem;

            &::after {
                @include ep-title-horizontal-line(7.594rem);
            }

            @media(max-width: $breakpoint-smartphone-portrait) {
                font-size: 6.594rem;
            }
        }

        h2,
        .h2 {
            font-size: 5.063rem;

            &::after {
                @include ep-title-horizontal-line(5.063rem);
            }

            @media(max-width: $breakpoint-smartphone-portrait) {
                font-size: 4.063rem;
            }
        }

        h3,
        .h3 {
            font-size: 3.375rem;

            &::after {
                @include ep-title-horizontal-line(3.375rem);
            }

            @media(max-width: $breakpoint-smartphone-portrait) {
                font-size: 2.375rem;
            }
        }

        h4,
        .h4 {
            font-size: 2.25rem;

            &::after {
                @include ep-title-horizontal-line(2.25rem);
            }

            @media(max-width: $breakpoint-smartphone-portrait) {
                font-size: 2rem;
            }
        }

        h5,
        .h5 {
            font-size: 1.5rem;

            &::after {
                @include ep-title-horizontal-line(1.5rem);
            }

            @media(max-width: $breakpoint-smartphone-portrait) {
                font-size: 1.25rem;
            }
        }

        h6,
        .h6 {
            font-size: 1rem;

            &::after {
                @include ep-title-horizontal-line(1rem);
            }
        }
    }
}

p,
a {
    font-size: 16px;
    font-family: $font-body;
    line-height: $line-height;
}

p {
    color: $color-font-2;
}