/**
* File: _variables.scss
* This should contain variable declarations. Actual usage should occur elsewhere
*/

/**
* COLORS
*/
$color-1: #89E089; // Mint green
$color-2: #4B7A4B; // Darker mint green
$color-3: #98FB98; // Bright mint green

$color-font-1: #0A0A0A;
$color-font-2: #282828;
$color-font-3: #505050;
$color-font-inverse: #F5F5F5;

$color-ui-1: $color-font-inverse;
$color-ui-2: #EBEBEB;
$color-ui-3: #E1E1E1;
$color-ui-4: #808080;
$color-ui-5: $color-font-3;
$color-ui-6: $color-font-2;
$color-ui-7: $color-font-1;

$color-primary-hover: $color-ui-7;
$color-row-hover: $color-2;

/**
* TYPOGRAPHY
*/
$line-height: 1.5rem;
$font-title: "Bebas Neue";
$font-body: "Roboto";
$font-interactive: "Roboto";

/**
* SIZING
*/
$size-small: $line-height / 2;
$size-medium: $line-height;
$size-large: $line-height * 2;

/**
* ANIMATION
*/
$transition-standard: all 0.25s ease;

/**
* BREAKPOINTS
*/
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 980px;
$breakpoint-smartphone: 767px;
$breakpoint-smartphone-portrait: 479px;