/**
* File: login.scss
* This only gets enqueued in the login pages
*/

@import 'base/variables';
@import 'base/base';

body.login {
    background-color: $color-ui-1;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
        url(https://images.unsplash.com/photo-1533256619225-8d93f78260c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80); //Add BG image to optionally spruce it up
    background-size: cover;
    color: $color-font-2;
    font-family: $font-body;
    font-size: 1rem;
    line-height: $line-height;
    display: flex;
    justify-content: center;

    &::before {
        content: 'Joshua Tree National Park. Photo credits: @rj_christopher on Unsplash.';
        color: $color-font-inverse;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}

#login {
    width: 100%;
    max-width: 32 * $size-medium;
    padding: $size-large 4*$size-large;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgba($color-ui-7, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $breakpoint-smartphone) {
        padding: $size-large clamp(48px, calc(3rem + ((1vw - 5.76px) * 75.3927)), 192px);
    }

    @media (max-width: $breakpoint-smartphone-portrait) {
        padding: $size-large $size-medium;
    }

    label {
        color: $color-font-inverse;
        line-height: $line-height;
        margin-bottom: 0;
    }

    input {
        @include transition;
    }

    input[value] {
        color: $color-font-3;
    }

    input[type=text],
    input[type=password] {
        font-size: 1rem;
        line-height: $line-height;
        padding: $size-small $size-medium;
        background: transparent;
        border-color: rgba($color-ui-2, 0.5);
        border-radius: 0;

        &:focus {
            background: $color-ui-1;
            box-shadow: 0 0 0 1px $color-1;
        }
    }

    input[type=checkbox] {
        border-color: rgba($color-font-3, 0.5);
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
    }

    // Show/Hide Password Button
    button.wp-hide-pw {
        height: 3rem;
        width: 3rem;
        top: 1px;
        right: 1px;
        color: $color-1;
    }

    input[type=submit] {
        font-size: 1rem;
        line-height: $line-height;
        padding: $size-small $size-medium;
        font-family: $font-interactive;
        background-color: $color-1;
        color: $color-font-inverse;
        border-radius: 0;
        border: none;

        &:hover {
            background-color: $color-2;
        }
    }
}

#loginform {
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    overflow: visible;
}

#login h1 a {
    height: 65px;
    width: 320px;
    background-size: 320px 65px;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

#login a {
    color: $color-1;
    @include transition;
}

#login #backtoblog a,
#login #nav a {
    color: $color-font-inverse;

    &:hover {
        color: $color-1;
    }
}

.login-action-confirm_admin_email #login {
    margin-top: 0;
    padding: 3rem 6rem;
}